body{
     background-color:#CCC
}
#hangmanpicture {
	width:200px;
	height:350px;
}

h1 {
    color:#000;
}
table {
   margin:200px auto;
     
}
td{
height:50px;
  width:30px;

}
#main{
   display:none;
}
#main img {
    float:right;
    margin-top:-400px;
    width:200px;
	height:350px;
	}