body{
    //background:url(hangman.png);
    //background-size:800px 600px;
    background-color:#CCC
}

h1 {
    color:#000;
}
table {
   margin:200px auto;
  // width:300px;
   
}
td{
height:50px;
  width:30px;

}
#main{
   display:none;
}
