body{
     background-color:#CCC
}
#hangmanpicture {
	
    width:200px;
	height:350px;
}

h1 {
    color:#000;
}
table {
   margin:50px auto;
     
}
td{
   height:50px;
   width:30px;
   font-size:40px;
   font-family:arial;
}
#main{
   display:none;
}
#main img {
   position:absolute; 
   top:10px;
   right:15px;
   width:180px;

   height:310px;
	}

#main #table  {
   position:absolute;
   top:15px;
   right:15px;
   display:none;
   width:175px;
   height:320px;
}
#main #glux, #ajDzerq, #por, #votqer {
display:none;
}



